#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    combos {
        compatible = "zmk,combos";

        bootloader {
            bindings = <&bootloader>;
            key-positions = <41 40 42>;
        };

        Bluetooth1 {
            bindings = <&bt BT_SEL 0>;
            key-positions = <35 11 23>;
        };

        Bluetoothcombo {
            bindings = <&mo 3>;
            key-positions = <43 44 45>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESCAPE      &kp J  &kp D   &kp U             &kp A             &kp X          &kp P          &kp H      &kp L      &kp M         &kp W  &kp MINUS
&kp TAB         &kp C  &kp T   &kp I             &kp E             &kp O          &kp B          &kp N      &kp R      &kp S         &kp G  &kp Q
&kp LEFT_SHIFT  &kp F  &kp V   &kp LEFT_BRACKET  &kp SINGLE_QUOTE  &kp SEMICOLON  &kp Z          &kp Y      &kp COMMA  &kp PERIOD    &kp K  &kp RSHFT
                       &kp N7  &kp N8                                                                       &kp N5     &kp NUMBER_6
                               &mo 1             &mo 2             &kp LEFT_ALT   &kp BACKSPACE  &kp SPACE  &kp ENTER
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans          &kp UP_ARROW    &trans           &trans  &trans        &kp N7        &kp N8        &kp N9        &trans  &trans
&trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &trans        &kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans  &trans
&trans  &trans  &trans          &trans          &trans           &trans  &kp N0        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans
                &trans          &trans                                                               &kp COMMA     &kp PERIOD
                                &trans          &trans           &trans  &trans        &trans        &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &kp RIGHT_BRACKET  &kp LS(SLASH)  &kp RA(N8)    &kp RA(N9)    &kp GRAVE      &kp LS(NUMBER_1)  &kp NUBS           &kp LS(NUBS)  &kp LS(N0)    &kp LS(N6)    &trans
&trans  &kp RA(MINUS)      &kp LS(N7)     &kp RA(N7)    &kp RA(N0)    &kp RS(RBRC)   &kp LS(MINUS)     &kp LS(N8)         &kp LS(N9)    &kp SLASH     &kp LS(DOT)   &kp RA(Q)
&trans  &kp NUHS           &kp LS(N4)     &kp RA(NUBS)  &kp RA(RBRC)  &kp LS(EQUAL)  &kp LS(N5)        &kp RIGHT_BRACKET  &kp LS(N2)    &kp LS(NUHS)  &kp LS(COMMA) &trans
                &trans  &trans                                                         &trans                 &trans
                        &trans  &trans  &trans  &trans           &trans                &trans
            >;
        };

        
        Bluetooth {
            bindings = <
&trans      &trans  &trans  &trans  &trans  &bt BT_SEL 2  &out OUT_BLE  &out OUT_USB  &trans  &trans  &trans  &trans
&trans      &trans  &trans  &trans  &trans  &bt BT_SEL 1  &trans        &trans        &trans  &trans  &trans  &trans
&bt BT_CLR  &trans  &trans  &trans  &trans  &bt BT_SEL 0  &kp PLUS      &trans        &trans  &trans  &trans  &trans
                    &trans  &trans                                                    &trans  &trans
                            &trans  &trans  &trans        &trans        &trans        &trans
            >;
        };
    };
};
