#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        boot {
            bindings = <&bootloader>;
            key-positions = <51 50 49>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
       &kp NUMBER_1  &kp E  &kp R   &kp T  &kp Z  &kp L  &kp S  &kp D  &kp F  &kp G
&kp A  &kp NUMBER_2  &kp E  &kp R   &kp T  &kp Z  &kp L  &kp S  &kp D  &kp F  &kp G  &kp H
&kp A  &kp NUMBER_3  &kp E  &kp R   &kp T  &kp Z  &kp L  &kp S  &kp D  &kp F  &kp G  &kp H
       &kp NUMBER_4  &kp E  &kp R   &kp T  &kp Z  &kp L  &kp S  &kp D  &kp F  &kp G
&kp A  &kp NUMBER_6  &kp E  &kp R   &kp T  &kp Z  &kp L  &kp S  &kp D  &kp F  &kp G  &kp H
            >;
        };
    };
};
